*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000pix;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #000000;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

header{
    width: 100%;
    height: 600px;
    background: #a8ff78;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(162, 100%, 74%, 0.336), hsla(99, 100%, 74%, 0.527)), url(../img/portada1.png);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(162, 100%, 74%, 0.336), hsla(99, 100%, 74%, 0.527)), url(../img/portada1.png); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.encabezado nav{
    padding: 30px 50px 0px 0px;
    text-align: right;
}

.encabezado nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    margin-right: 10px;
}

a:hover{
    text-decoration: underline;
    color: #000;
}


header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.textos-header h1{
    font-size: 25px;
    font-weight: 300;
    color: #fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*footer*/

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

/*adaptive 900px*/

@media screen and (max-width:900px){
    header{
        background-position: center;
    }
}

@media screen and (max-width:500px){
    header{
        background-position: center;
    }

    nav{
        text-align: right;
        padding: 30px 50px 0 0;
    }

    nav > a{
        color: #fff;
        font-weight: 100;
        text-decoration: none;
        margin-right: 10px
    }

    .content-footer{
        display: flex;
        width: 90%;
        justify-content: space-around;
        margin: auto;
        padding-bottom: 50px;
        border-bottom: 1px solid #ccc;
    }

    .content-foo h4{
        color: #fff;
        border-bottom: 3px solid #af20d3;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .content-foo p{
        color: #ccc;
    }

    .titulo-final{
        text-align: center;
        font-size: 10px;
        margin: 20px 0 0 0;
        color: #9e9797;
    }
}